oxford/node-red-oxford-flows.json
[
    {
        "id": "ebb96953.99df38",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c4e474b.c1438",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fa2246d8.80cf9",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a6d1130e.114ad8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "11769350.17a9f5",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6ad97ff8.656468",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "196501c.082357e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9d76c6a4.751228",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "67f0d3e2.28e814",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c736aad0.3a0f1",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "7e4b596c.e084c",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1e9bde90.de3e79",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4650f444.594c2c",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "82fabc46.8ccf5",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "463a7da8.13b3f4",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "856ee7a9.db6be",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "58e5e9bc.bf89b8",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "285a1827.8dad1",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6ffdc214.37d7cc",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "130a5d45.4dc3bb",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b0fd40a8.7e2d",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fc38f3a5.05f978",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "55147c2d.91f98c",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2024b5d8.3b3af2",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e3df2f3c.b74c28",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b8bc900d.14d038",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "ef4ea13c.814e28",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "3e5a4e95.9593e2",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "efdc1011.ba5168",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6e4ac8f.b2fb338",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2cb6cbe3.e1a5ec",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6cc56fe5.23356",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b2e20e24.2fc718",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "728360b0.bc0058",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "9ce756fc.6ed4d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "114501ad.1c44de",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f332969b.7aea78",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "e68b42e4.4bda2",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "80daa3e8.17b5f",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cdf8d98.715b628",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7608c8dc.a9be98",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6b0cffb0.2fe4b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "11dc7889.ce5f3f",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "1ad0428e.671945",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d846678.3a8ef",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "89808c0a.35a6e",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "86b9cf73.52e2c",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f86ec653.0b61",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "297d18c4.a28298",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "55d117f2.9aa048",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "11dc7889.ce5f3f",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "45cbe320.09afdc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "11dc7889.ce5f3f",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "880d9153.e4172",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "11dc7889.ce5f3f",
        "order": 11,
        "width": 5,
        "height": 1
    },
    {
        "id": "b0e7e9f7.b30eb8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "11dc7889.ce5f3f",
        "order": 12,
        "width": 5,
        "height": 1
    },
    {
        "id": "1f584bdb.cbff2c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "11dc7889.ce5f3f",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "d3ac0c4a.64f9f",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c8f9dda.c2ad7a",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "30dad4ac.bfa9b4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "f597c873.c71628",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5b472f61.4b63e",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ae2d6b80.c54f4",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "83c4f9e6.2fcc58",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "13e664c6.c33d03",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8231c725.4c0fb8",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "12110500.81bdbb",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e21abeab.076ab8",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "4f02bc1f.ffb4c4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "d9473ff6.ce38b8",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1930da43.bd7a7e",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "33940c60.87d484",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "fe2df110.afc778",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "981b6bf8.4e9488",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "21c687cc.9af36",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "86c192f9.eb237",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6a6a197b.aafb",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "6f9d43b9.161e5c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "4a077f88.6a3bb",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6d7c260d.122c68",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "681503c9.b8f954",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5110381.83e4f48",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b640af64.b9a86",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "725932ed.c27714",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ee43dd48.bff928",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e5123d23.f6cf48",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "5eb9553d.741cec",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e683b94c.6aae",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "287e4ad8.e7cfb6",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "e95d17b3.3946b8",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "247370b4.d12f2",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b545cc54.35f478",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "69ddf0cd.0abf18",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dc3b5f91.2bf9d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d76fd3c4.ea2248",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "c50d2ad1.953288",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "1317f4ca.8c812b",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c6e3aa2a.a9f2",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "475ea6a5.e816e",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d8644cbb.1eaa1",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c7a3fe3b.643f88",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4333f20d.5a6dd4",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5d9371db.ad1",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1ea323f6.1a18fc",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d642ed9d.cee6f8",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ac5c88e9.d17dc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "22e71e7d.aabeaa",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6ad2377d.cb2038",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "85eb8b57.24da18",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "564d55f1.3cfa14",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7bae5fda.d4a24",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2eb64113.5a1866",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a853d0e9.66bd68",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1f42a0f2.e70717",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "1915e68.912389a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5cfd297e.b22c3",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "265fd97b.7851ae",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "8bf28a3a.39a2",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a124343a.427a18",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b7c02e3e.7f66e8",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7c27add0.d60bec",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a66af0d0.a3a22",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f3f1b26b.56856",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "179025e4.e1c43a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "dd033a7b.6a3f4",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b85eadfe.ec5fa",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1e60262a.2996b2",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "65807a4b.cd5b34",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "da8a03c1.794638",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "11166dc8.28266a",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "89a2bf62.88bb78",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1304a785.480988",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "25230e2a.8b7b02",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "7c0b2c19.b8fdd4",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "49b9d713.e864c8",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "9b4d5cb6.9bc37",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "fb4f750b.e34bd",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fd1edacf.637068",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8668f765.476c6",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "228d7cc5.1d4564",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a8f7331d.4d8d6",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "3235f282.281196",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5c7b8837.5b65a8",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6ad5f3b2.867f94",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "31c1208e.809f98",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "2e80c252.757686",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ba8311c0.5e31c8",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e249d2cc.5f6c5",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "47c9148b.e5d43c",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bfecf41e.68d9e8",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "b2071efb.3f972",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2152f9d.60d2a86",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "cf4f2b3b.1d153",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "9c6ac31b.bb11d",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "65846e66.a0ee18",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5ca264c5.6f46b4",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "42db7144.47838",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "79142924.692e48",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a04bc4cf.8be8f8",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "54225914.634568",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "4bfbd8e8.d2753",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "84d3ec79.08b68",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "cde3bb58.06011",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "831d602d.b3d638",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "10c2836d.c0735d",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a1a918f4.745f9",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2342d04a.15d1f",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "740761f.1ce4d2",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "aea73bb2.ced07",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "36d4ec08.a68a9c",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "bb3b2b86.3bd2b8",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "87e70e9a.dd0628",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "bf9a506.306a93",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "30c2d13d.e4f1b6",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3f6d4cda.66d2e4",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ed8a41bc.3ad008",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4421c2d7.b4bd14",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3063c481.9bc404",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7e906e11.b9fea",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a53df20.09e9e9",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "658245c7.78e06c",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b98b336.3f5295",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c8e31968.3c7d7",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "203150ba.ca534",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "25928dc8.ceccca",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "61a4b12d.41b8b",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "19ba8a63.494a46",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "31ad9b15.fe2734",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "78af4d3.1b513b4",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "406937cc.5dabe8",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d18c831c.165298",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "8d4eb1a0.72a3a",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "27d731f3.f4edde",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4c2191b0.59dae",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2c1a12c5.df46be",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "86138d45.20d3",
        "type": "ui_tab",
        "z": "",
        "name": "Oxford",
        "icon": "",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f66e2e5a.4d4a7",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "86138d45.20d3",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "100c1456.2e5024",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e64c54f.e64a4a8",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "e8c6540c.997db8",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "84b8c3eb.144aa8",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a3b34c4b.fdef08",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "15bc38f3.aee2b7",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9de8d15c.54adb",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "639e73b0.8ac12c",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "4f191d58.403214",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "30c337ee.db7e7",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "b8ea3c22.68e0c",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c6a18c6d.1024a8",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "212e3c4c.a6bde4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6177d819.d316c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "d8cbf208.620d58",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "2d210e36.a68be2",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "586a8594.5aeb8c",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d0ffd66b.c1a5e8",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cb9dc71b.b4922",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "31b77a98.1eb31e",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "785cf23b.5173d4",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f997c0f4.2c4d18",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "654ddd53.5a4dec",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e97b9a6e.48a7e8",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5973f104.e1dbf",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a91991d5.d6f6e8",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ca1c6f90.5b132",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1dd7ff96.2d3f2",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9faf892.1e1dcf8",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "17d67bb8.08820c",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d561ef00.985078",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "9806dca1.28a64",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "40a6546c.b9a554",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d41eec73.f06e9",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "aaa1be77.3a3508",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "12492f77.865861",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "246783da.633624",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a88e74f1.3e8a5",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e768b3aa.ec57f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d8cb295e.7e2f",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "ce6d03e.da54b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "831102e6.0f9da",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "54fad546.abf7b4",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ac3afd97.b1af8",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b282077c.63c4e8",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8f53b68d.c7aa68",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9a264778.0b5f78",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44b01eae.e0afb",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "651b1633.6de4",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "77bbfef5.8484f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "ecd12a29.02e018",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ebcd5061.abf3d",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d2988b60.b35eb8",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "95b9329d.062f68",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "72ccfd45.5ad32c",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6ab1cc07.143a3c",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "293e41c5.d15e2e",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1172cf49.3c0501",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cbed51b2.300c9",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6cd52902.419818",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c7617aa1.2821a",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "da57dd36.50b1f8",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "20d19b8b.62372c",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f258bb72.512c78",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "14e09071.d4dbe",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4a31c93f.656c2",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6e792960.8d858",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "85ebaf28.224f2",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "6a530f65.59f1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "506a9ea6.ed94a8",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "9266dbae.6d4d08",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f94b71e1.70a428",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "7e490721.390618",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "935c1634.e38e4",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6614e4ce.5c9294",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f7ff4b06.438198",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt broker 192.168.56.57",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "393643dc.424ac4",
        "type": "ui_tab",
        "z": "",
        "name": "Oxford",
        "icon": "",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb4bc046.d55f98",
        "type": "ui_group",
        "z": "",
        "name": "Metronome",
        "tab": "393643dc.424ac4",
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "930cc588.6b769",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "287a20b8.f44ab",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e539a68.d9954c",
        "type": "ui_group",
        "z": "",
        "name": "demo 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1db7b2d3.94a675",
        "type": "ui_group",
        "z": "",
        "name": "demo 3",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a55e84dd.d443",
        "type": "ui_group",
        "z": "",
        "name": "demo 2",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b23ea853.4c4428",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7d060994.5ea468",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "79ed295a.56b1b",
        "type": "ui_group",
        "z": "ebb96953.99df38",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6"
    },
    {
        "id": "12651b90.4e4e8c",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "46e32014.6781e8",
        "type": "ui_group",
        "z": "",
        "name": "Lyrics",
        "tab": "393643dc.424ac4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "7da8a414.36564c",
        "type": "ui_button",
        "z": "ebb96953.99df38",
        "name": "",
        "group": "bb4bc046.d55f98",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "+",
        "tooltip": "Increase tempo",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "metronome/tempo/increase",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "f0c3b76f.d93208"
            ]
        ]
    },
    {
        "id": "2e9d604e.8c0908",
        "type": "debug",
        "z": "ebb96953.99df38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "a54ddb14.df3a18",
        "type": "inject",
        "z": "ebb96953.99df38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "7da8a414.36564c"
            ]
        ]
    },
    {
        "id": "a0d8746e.cf0ab",
        "type": "ui_button",
        "z": "ebb96953.99df38",
        "name": "",
        "group": "bb4bc046.d55f98",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "-",
        "tooltip": "Decrease tempo",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "metronome/tempo/decrease",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "f0c3b76f.d93208"
            ]
        ]
    },
    {
        "id": "725ef799.278e78",
        "type": "inject",
        "z": "ebb96953.99df38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "a0d8746e.cf0ab"
            ]
        ]
    },
    {
        "id": "b5c6d809.48e26",
        "type": "mqtt in",
        "z": "ebb96953.99df38",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "7d060994.5ea468",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "216b5cff.61092c",
                "e6c5bcf8.8d99"
            ]
        ]
    },
    {
        "id": "f0c3b76f.d93208",
        "type": "mqtt out",
        "z": "ebb96953.99df38",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "broker": "7d060994.5ea468",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "216b5cff.61092c",
        "type": "debug",
        "z": "ebb96953.99df38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "e6c5bcf8.8d99",
        "type": "ui_template",
        "z": "ebb96953.99df38",
        "group": "bb4bc046.d55f98",
        "name": "Local Javascript code - metronome",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<html>\n<head>\n\t<script>\n\n// This is a \"main\" function which we use as a trick to get hold of the scope variable\n// The scope variable is important for us to access the send() member, which allows us to\n// send messages directly from the javascript within the Node-RED template-ui itself.\n(function(scope) {\n    // Sending and receiving messages can be done only within this function (ttat takes \"scope\" argument)\n    \n    // Periodically send a \"ping\" message to server. The message is a unique identifier for the web browser\n    // that runs this code. The unique PingID is actually just the epoch time at which code initially ran.\n    // Although the ID itself is a time, it's used for it's (most probably) uniqueness amongst all browsers\n    // that will run this code, and the fact that that number actually is a point in time is irrelevant here.\n    // We could have used a UUID as well.\n    // PingID stays the same during the whole browser session (until the page is refreshed for instance).\n    setInterval(function(){clock_A = Date.now(); scope.send({topic: \"clock-synchro/ping\", payload: PingID})}, 2000 );\n\n    // Once at start time (i.e. here and now), send a message to get_playlist. oxford.bin will reply with \n    // the playlist on topic song_list/sorted_by/playlist (for instance)\n    scope.send({topic: \"get-playlist\", payload: \"x\"});\n    \n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // We put here all the code that inspects incoming messages from certain topics.\n        if (msg.topic === \"metronome/tempo/increase\" && msg.payload === \"x\")\n        {\n            // Increase tempo\n            // tempo_up(); // done by oxford\n        }\n        if (msg.topic === \"metronome/tempo/decrease\" && msg.payload === \"x\")\n        {\n            // Decrease tempo\n            // tempo_down(); // done by oxford\n        }\n        if (msg.topic === \"song/tempo/value\")\n        {\n            // Update the tempo value\n            $tempo.text(msg.payload);\n            tempo = parseInt($tempo.text());\n        }\n        if (msg.topic === \"metronome/activate\")\n        {\n            //toggle_play();\n        }\n        if (msg.topic === \"song/tempo/timestart\")\n        {\n            // Update the tempo \"timestart\" variable.\n            // This is always sent alongside with song/tempo/value\n            // timestart is the absolute point in time (server time) all metronome ticks are counted\n            // from. Tick #0 happens at timestart, tick #1 happens a bit later, #2 at twice that interval\n            // from timestart, #3 at three times the interval, always counted from timestart as an absolute\n            // reference.\n            date_timestart_received = Date.now();\n            timestart = parseInt(msg.payload);\n        }\n        if (msg.topic === \"metronome/time_offset\")\n        {\n            // Optional time offset - not used as of now.\n            time_offset = parseInt(msg.payload);\n        }\n\n        if (msg.topic === \"clock-synchro/pong/\" + PingID.toString())\n        {\n            var clock_delta_dev;\n            // Compute the clock difference between the clock of this machine (web browser) and the\n            // clock of the server (running the main oxford program, Node-RED server, MQTT server, etc.)\n            clock_C = Date.now();\n            clock_B = parseInt(msg.payload);\n            clock_delta_raw = (clock_C + clock_A) /2 - clock_B;\n            // clock_delta_raw is the immediate calculation for the clock\n            // but that variable has jitter, and its jitter will directly impact the metronome jitter.\n            // Iron out the jitter by computing an average (smoothing function).\n            // Variable first_run allows us to do different things during the first cycles, to \"prime\"\n            // the algorithm with data close to its final value, rather than waiting over 10 or 20 seconds\n            // that clock_delta converges to its mean value.\n            // The smoothing average algorithm has weights set at 0.9 and 0.1 (90% old data, 10% new data)\n            // NOPE | The smoothing average algorithm is weighted, and the weight is a function of how many standard\n            // NOPE | deviation is the incoming data different from the mean. Think of it as an adaptive filter.\n            if (state_machine == 0)\n            {\n                state_machine = 1;\n                clock_delta_dev = 0;\n                clock_delta = clock_delta_raw;\n                clock_delta_mean = clock_delta;\n            }\n            else if (state_machine == 1)\n            {\n//                state_machine = 2;\n                // This is not a real \"mean\". It's a filter that converges towards the mean.\n                // Think of it of a \"mean which forgets earlier values over time\".\n                clock_delta_mean_prev = clock_delta_mean;\n                clock_delta_mean = clock_delta_mean * 0.9 + clock_delta_raw * 0.1;\n//                clock_delta_dev = clock_delta_dev * 0.9 + 0.1 * Math.sqrt( (clock_delta_raw - clock_delta_mean_prev) * (clock_delta_raw - clock_delta_mean));\n//                weight_factor = Math.absolute(clock_delta_raw - clock_delta_mean) / (clock_delta_dev);\n//                clock_delta = clock_delta * (1 - 0.1 * (clock_delta_raw - clock_delta_mean) / clock_delta_dev  *  + clock_delta_raw * 0.1;\n                clock_delta = clock_delta_mean;\n            }\n\n            scope.send({topic: \"clock-synchro/\"  + PingID.toString() + \"/clock_delta\", payload: clock_delta});\n            scope.send({topic: \"clock-synchro/\"  + PingID.toString() + \"/remote_clock_estimated\", payload: clock_C - clock_delta });\n            scope.send({topic: \"clock-synchro/\"  + PingID.toString() + \"/local_clock\", payload: clock_C });\n            $debug.text(clock_delta);\n        }\n        //console.log('yadda');\n        // new message **msg** received\n        //alert(msg.topic); //tempo.String());\n    });\n})(scope);\n\nvar time_offset = 0;\nvar $tempo;\nvar $debug;\nvar tempo;\nvar play;\nvar play_sound = 0;\nvar snd;\n\nvar timestart = Date.now();\nvar phase = 0;\nvar date_timestart_received = Date.now();\nvar PingID = Date.now();\nvar clock_A;\nvar clock_B;\nvar clock_C;\nvar clock_delta = 0;\nvar clock_delta_mean = 0;\nvar state_machine = 0;\n\nfunction tempo_up()\n{\n    tempo = parseInt($tempo.text());\n  \t$tempo.text(parseInt($tempo.text()) + 1);\n}\n\nfunction tempo_down()\n{\n    tempo = parseInt($tempo.text());\n    $tempo.text(parseInt($tempo.text()) - 1);\n\n}\n\nfunction phase_delay_increment()\n{\n    phase = phase +10;\n}\n\nfunction phase_delay_decrement()\n{\n    phase = phase -10;\n}\n\nfunction toggle_play()\n{\n\tplay = !play;\n}\n\nfunction toggle_sound()\n{\n    play_sound = !play_sound;\n    snd.play();\n}\n\n\nfunction startMetronome() {\n\t\t\tfunction getInterval() {\n\t\t\t    tempo = parseInt($tempo.text());\n\t\t\t    if (tempo > 240)\n\t\t\t    {\n\t\t\t        tempo = 240;\n\t\t\t    }\n\t\t\t    if (tempo < 30)\n\t\t\t    {\n\t\t\t        tempo = 30;\n\t\t\t    }\n\t\t\t    $tempo.text(tempo);\n\t\t\t\treturn 1000 / (parseInt($tempo.text()) / 60);\n\t\t\t}\n\t\t\tvar delay_ms = getInterval();\n\t\t\tvar started = Date.now();\n\t\t\tvar bg_toggle_bool = 0;\n            var bpm_id = document.getElementById(\"bpm\");\n            var previous_timestart = 0;\n\t\t\tsnd.play();\n\t\t\tstep();\n\t\t\t\n\t\t\tfunction step() {\n\n\n                // Get current Base Tempo of the song\n                if (timestart != previous_timestart)\n                {\n                     // Change in tempo detected\n                    previous_timestart = timestart;\n                    //alert(timestart);\n                    // Compute wait time from the tempo\n                    delay_ms = getInterval();\n                    // Compute beat number\n                    //beat_number = (date_timestart_received - timestart)/delay_ms;\n                    beat_number = 0;\n                    //beat_number = Math.ceil(beat_number);\n                    //alert(beat_number);\n                }\n\n                beat_number ++;\n            \n                // Compute time at which next beat must happen\n                next_time = timestart + clock_delta + beat_number * delay_ms + time_offset + phase;\n                setTimeout(step, next_time - Date.now());\n\n\t\t\t\tif (play) {\n\t\t\t\t    if(play_sound)\n\t\t\t\t    {\n\t\t\t\t\t    snd.play();\n\t\t\t\t    }\n\t\t\t\t\tif (bg_toggle_bool === 1)\n\t\t\t\t\t{\n\t\t\t\t\t    bg_toggle_bool = 0;\n\t\t\t\t\t    document.body.style.background = \"red\";\n\t\t\t\t\t    bpm_id.style.background = \"red\";\n\t\t\t\t\t    \n\t\t\t\t\t}\n\t\t\t\t\telse\n\t\t\t\t\t{\n\t\t\t\t\t    bg_toggle_bool = 1;\n\t\t\t\t\t    document.body.style.background = \"white\";\n\t\t\t\t\t    bpm_id.style.background = \"white\";\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\n\t$(document).ready(function() {\n\n\n\n        $tempo = $('#tempo');\n        $debug = $('#debug');\n        tempo = 130;\n \n\t\tsnd = new Audio('data:audio/wav;base64,//uQRAAAAWMSLwUIYAAsYkXgoQwAEaYLWfkWgAI0wWs/ItAAAGDgYtAgAyN+QWaAAihwMWm4G8QQRDiMcCBcH3Cc+CDv/7xA4Tvh9Rz/y8QADBwMWgQAZG/ILNAARQ4GLTcDeIIIhxGOBAuD7hOfBB3/94gcJ3w+o5/5eIAIAAAVwWgQAVQ2ORaIQwEMAJiDg95G4nQL7mQVWI6GwRcfsZAcsKkJvxgxEjzFUgfHoSQ9Qq7KNwqHwuB13MA4a1q/DmBrHgPcmjiGoh//EwC5nGPEmS4RcfkVKOhJf+WOgoxJclFz3kgn//dBA+ya1GhurNn8zb//9NNutNuhz31f////9vt///z+IdAEAAAK4LQIAKobHItEIYCGAExBwe8jcToF9zIKrEdDYIuP2MgOWFSE34wYiR5iqQPj0JIeoVdlG4VD4XA67mAcNa1fhzA1jwHuTRxDUQ//iYBczjHiTJcIuPyKlHQkv/LHQUYkuSi57yQT//uggfZNajQ3Vmz+Zt//+mm3Wm3Q576v////+32///5/EOgAAADVghQAAAAA//uQZAUAB1WI0PZugAAAAAoQwAAAEk3nRd2qAAAAACiDgAAAAAAABCqEEQRLCgwpBGMlJkIz8jKhGvj4k6jzRnqasNKIeoh5gI7BJaC1A1AoNBjJgbyApVS4IDlZgDU5WUAxEKDNmmALHzZp0Fkz1FMTmGFl1FMEyodIavcCAUHDWrKAIA4aa2oCgILEBupZgHvAhEBcZ6joQBxS76AgccrFlczBvKLC0QI2cBoCFvfTDAo7eoOQInqDPBtvrDEZBNYN5xwNwxQRfw8ZQ5wQVLvO8OYU+mHvFLlDh05Mdg7BT6YrRPpCBznMB2r//xKJjyyOh+cImr2/4doscwD6neZjuZR4AgAABYAAAABy1xcdQtxYBYYZdifkUDgzzXaXn98Z0oi9ILU5mBjFANmRwlVJ3/6jYDAmxaiDG3/6xjQQCCKkRb/6kg/wW+kSJ5//rLobkLSiKmqP/0ikJuDaSaSf/6JiLYLEYnW/+kXg1WRVJL/9EmQ1YZIsv/6Qzwy5qk7/+tEU0nkls3/zIUMPKNX/6yZLf+kFgAfgGyLFAUwY//uQZAUABcd5UiNPVXAAAApAAAAAE0VZQKw9ISAAACgAAAAAVQIygIElVrFkBS+Jhi+EAuu+lKAkYUEIsmEAEoMeDmCETMvfSHTGkF5RWH7kz/ESHWPAq/kcCRhqBtMdokPdM7vil7RG98A2sc7zO6ZvTdM7pmOUAZTnJW+NXxqmd41dqJ6mLTXxrPpnV8avaIf5SvL7pndPvPpndJR9Kuu8fePvuiuhorgWjp7Mf/PRjxcFCPDkW31srioCExivv9lcwKEaHsf/7ow2Fl1T/9RkXgEhYElAoCLFtMArxwivDJJ+bR1HTKJdlEoTELCIqgEwVGSQ+hIm0NbK8WXcTEI0UPoa2NbG4y2K00JEWbZavJXkYaqo9CRHS55FcZTjKEk3NKoCYUnSQ0rWxrZbFKbKIhOKPZe1cJKzZSaQrIyULHDZmV5K4xySsDRKWOruanGtjLJXFEmwaIbDLX0hIPBUQPVFVkQkDoUNfSoDgQGKPekoxeGzA4DUvnn4bxzcZrtJyipKfPNy5w+9lnXwgqsiyHNeSVpemw4bWb9psYeq//uQZBoABQt4yMVxYAIAAAkQoAAAHvYpL5m6AAgAACXDAAAAD59jblTirQe9upFsmZbpMudy7Lz1X1DYsxOOSWpfPqNX2WqktK0DMvuGwlbNj44TleLPQ+Gsfb+GOWOKJoIrWb3cIMeeON6lz2umTqMXV8Mj30yWPpjoSa9ujK8SyeJP5y5mOW1D6hvLepeveEAEDo0mgCRClOEgANv3B9a6fikgUSu/DmAMATrGx7nng5p5iimPNZsfQLYB2sDLIkzRKZOHGAaUyDcpFBSLG9MCQALgAIgQs2YunOszLSAyQYPVC2YdGGeHD2dTdJk1pAHGAWDjnkcLKFymS3RQZTInzySoBwMG0QueC3gMsCEYxUqlrcxK6k1LQQcsmyYeQPdC2YfuGPASCBkcVMQQqpVJshui1tkXQJQV0OXGAZMXSOEEBRirXbVRQW7ugq7IM7rPWSZyDlM3IuNEkxzCOJ0ny2ThNkyRai1b6ev//3dzNGzNb//4uAvHT5sURcZCFcuKLhOFs8mLAAEAt4UWAAIABAAAAAB4qbHo0tIjVkUU//uQZAwABfSFz3ZqQAAAAAngwAAAE1HjMp2qAAAAACZDgAAAD5UkTE1UgZEUExqYynN1qZvqIOREEFmBcJQkwdxiFtw0qEOkGYfRDifBui9MQg4QAHAqWtAWHoCxu1Yf4VfWLPIM2mHDFsbQEVGwyqQoQcwnfHeIkNt9YnkiaS1oizycqJrx4KOQjahZxWbcZgztj2c49nKmkId44S71j0c8eV9yDK6uPRzx5X18eDvjvQ6yKo9ZSS6l//8elePK/Lf//IInrOF/FvDoADYAGBMGb7FtErm5MXMlmPAJQVgWta7Zx2go+8xJ0UiCb8LHHdftWyLJE0QIAIsI+UbXu67dZMjmgDGCGl1H+vpF4NSDckSIkk7Vd+sxEhBQMRU8j/12UIRhzSaUdQ+rQU5kGeFxm+hb1oh6pWWmv3uvmReDl0UnvtapVaIzo1jZbf/pD6ElLqSX+rUmOQNpJFa/r+sa4e/pBlAABoAAAAA3CUgShLdGIxsY7AUABPRrgCABdDuQ5GC7DqPQCgbbJUAoRSUj+NIEig0YfyWUho1VBBBA//uQZB4ABZx5zfMakeAAAAmwAAAAF5F3P0w9GtAAACfAAAAAwLhMDmAYWMgVEG1U0FIGCBgXBXAtfMH10000EEEEEECUBYln03TTTdNBDZopopYvrTTdNa325mImNg3TTPV9q3pmY0xoO6bv3r00y+IDGid/9aaaZTGMuj9mpu9Mpio1dXrr5HERTZSmqU36A3CumzN/9Robv/Xx4v9ijkSRSNLQhAWumap82WRSBUqXStV/YcS+XVLnSS+WLDroqArFkMEsAS+eWmrUzrO0oEmE40RlMZ5+ODIkAyKAGUwZ3mVKmcamcJnMW26MRPgUw6j+LkhyHGVGYjSUUKNpuJUQoOIAyDvEyG8S5yfK6dhZc0Tx1KI/gviKL6qvvFs1+bWtaz58uUNnryq6kt5RzOCkPWlVqVX2a/EEBUdU1KrXLf40GoiiFXK///qpoiDXrOgqDR38JB0bw7SoL+ZB9o1RCkQjQ2CBYZKd/+VJxZRRZlqSkKiws0WFxUyCwsKiMy7hUVFhIaCrNQsKkTIsLivwKKigsj8XYlwt/WKi2N4d//uQRCSAAjURNIHpMZBGYiaQPSYyAAABLAAAAAAAACWAAAAApUF/Mg+0aohSIRobBAsMlO//Kk4soosy1JSFRYWaLC4qZBYWFRGZdwqKiwkNBVmoWFSJkWFxX4FFRQWR+LsS4W/rFRb/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////VEFHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAU291bmRib3kuZGUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMjAwNGh0dHA6Ly93d3cuc291bmRib3kuZGUAAAAAAAAAACU=');\n\t\tplay = false;\n\t\t$('#playing').hide();\n\n        startMetronome();\n\n        // Try to guess server time\n        //setInterval(clockSynchPing, 1000);\n\n\t});\n\t\n\t\n\n\n\tfunction clockSynchPing()\n\t{\n\t    //alert(\"blah\");\n\t    //this.scope.send({payload:\"test\"});\n\t}\n\t\n\t</script>\n\t\n\t\n\t\n\t<style>\n\t\tbody { font-family:Arial; color:#333; }\n\t\t#bpm { font-size:30pt; text-align:center; margin-top:10px; margin-bottom:10px; }\n\t\t#tempo { font-size:65pt; }\n\t\tbutton {\n      display: inline-block;\n    }\n\t</style>\n</head>\n<body>\n\t<div id=\"bpm\"><span id=\"tempo\">120</span> BPM</div>\n\t<div id=\"debug1\"><span id=\"debug\">yadda</span></div>\n\t<div><button onclick=phase_delay_increment()>Phase +</button>\n\t<button onclick=phase_delay_decrement()>Phase -</button></div>\n\t<div><button onclick=toggle_play()>Metr.</button>\n\t<button onclick=toggle_sound()>Sound</button></div>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "2e9d604e.8c0908",
                "e9e1be28.bebd18"
            ]
        ]
    },
    {
        "id": "38365e72.ebea4a",
        "type": "function",
        "z": "ebb96953.99df38",
        "name": "",
        "func": "var date = Date.now();\nmsg.payload = date;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 665,
        "wires": [
            [
                "c4a53549.e72c28"
            ]
        ]
    },
    {
        "id": "c4a53549.e72c28",
        "type": "debug",
        "z": "ebb96953.99df38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 450,
        "y": 665,
        "wires": []
    },
    {
        "id": "c7b8e79c.000138",
        "type": "inject",
        "z": "ebb96953.99df38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 665,
        "wires": [
            [
                "38365e72.ebea4a"
            ]
        ]
    },
    {
        "id": "e9e1be28.bebd18",
        "type": "mqtt out",
        "z": "ebb96953.99df38",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "8f53b68d.c7aa68",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "f487096c.190658",
        "type": "ui_button",
        "z": "ebb96953.99df38",
        "name": "Click sound +",
        "group": "bb4bc046.d55f98",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "+",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "metronome/beat_sound/increase",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "f0c3b76f.d93208"
            ]
        ]
    },
    {
        "id": "1e6c560e.3e90ba",
        "type": "ui_button",
        "z": "ebb96953.99df38",
        "name": "Click sound -",
        "group": "bb4bc046.d55f98",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "-",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "metronome/beat_sound/decrease",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "f0c3b76f.d93208"
            ]
        ]
    },
    {
        "id": "9de6a8f1.a9c048",
        "type": "ui_dropdown",
        "z": "ebb96953.99df38",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "bb4bc046.d55f98",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": false,
        "options": [],
        "payload": "",
        "topic": "set-song",
        "x": 780,
        "y": 800,
        "wires": [
            [
                "5390e78d.af044"
            ]
        ]
    },
    {
        "id": "86f7b62b.d7d34",
        "type": "mqtt in",
        "z": "ebb96953.99df38",
        "name": "",
        "topic": "song-list/sorted-by/playlist",
        "qos": "2",
        "datatype": "auto",
        "broker": "7d060994.5ea468",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "6fc5773f.c8126",
                "33d3035.8eb687c"
            ]
        ]
    },
    {
        "id": "6fc5773f.c8126",
        "type": "change",
        "z": "ebb96953.99df38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 800,
        "wires": [
            [
                "d30d5e8f.f97cc",
                "f65cdc01.a46528"
            ]
        ]
    },
    {
        "id": "d30d5e8f.f97cc",
        "type": "debug",
        "z": "ebb96953.99df38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "options",
        "targetType": "msg",
        "x": 610,
        "y": 900,
        "wires": []
    },
    {
        "id": "33d3035.8eb687c",
        "type": "debug",
        "z": "ebb96953.99df38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 390,
        "y": 900,
        "wires": []
    },
    {
        "id": "f65cdc01.a46528",
        "type": "json",
        "z": "ebb96953.99df38",
        "name": "",
        "property": "options",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 800,
        "wires": [
            [
                "9de6a8f1.a9c048"
            ]
        ]
    },
    {
        "id": "6fbc75a.6dc090c",
        "type": "ui_text",
        "z": "ebb96953.99df38",
        "group": "bb4bc046.d55f98",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Tempo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "f7976ee.a6f381",
        "type": "ui_text",
        "z": "ebb96953.99df38",
        "group": "bb4bc046.d55f98",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Click sound",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 240,
        "y": 240,
        "wires": []
    },
    {
        "id": "3ab21574.2c1462",
        "type": "mqtt in",
        "z": "ebb96953.99df38",
        "name": "",
        "topic": "song/name",
        "qos": "2",
        "datatype": "auto",
        "broker": "7d060994.5ea468",
        "x": 630,
        "y": 720,
        "wires": [
            [
                "9de6a8f1.a9c048",
                "bd878f6f.5e6f9"
            ]
        ]
    },
    {
        "id": "c1c5318e.20a3a8",
        "type": "ui_button",
        "z": "ebb96953.99df38",
        "name": "",
        "group": "bb4bc046.d55f98",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "set-song-value",
        "payloadType": "flow",
        "topic": "set-song",
        "x": 900,
        "y": 500,
        "wires": [
            [
                "46e6ddb0.381fdc"
            ]
        ]
    },
    {
        "id": "5390e78d.af044",
        "type": "change",
        "z": "ebb96953.99df38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "set-song-value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "46e6ddb0.381fdc",
        "type": "mqtt out",
        "z": "ebb96953.99df38",
        "name": "MQTT QoS=0",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "7d060994.5ea468",
        "x": 1100,
        "y": 500,
        "wires": []
    },
    {
        "id": "bd878f6f.5e6f9",
        "type": "ui_text",
        "z": "ebb96953.99df38",
        "group": "bb4bc046.d55f98",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current song:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 770,
        "y": 660,
        "wires": []
    },
    {
        "id": "2277aa0f.aa4316",
        "type": "ui_button",
        "z": "4c4e474b.c1438",
        "name": "",
        "group": "46e32014.6781e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e6b5125a.360018",
        "type": "ui_text",
        "z": "4c4e474b.c1438",
        "group": "46e32014.6781e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 160,
        "y": 140,
        "wires": []
    },
    {
        "id": "d0186874.52d488",
        "type": "ui_template",
        "z": "4c4e474b.c1438",
        "group": "46e32014.6781e8",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<iframe src=\"pdffile.pdf\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 140,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1bbc0d69.d9944b",
        "type": "ui_template",
        "z": "ebb96953.99df38",
        "group": "bb4bc046.d55f98",
        "name": "no sleep",
        "order": 10,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>NoSleep.js - Simple Test Page</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  </head>\n  <body>\n    <h1>NoSleep Test Page</h1>\n    <script src=\"../dist/NoSleep.min.js\"></script>\n\n    <input type=\"button\" id=\"toggle\" value=\"Wake Lock is disabled\" />\n\n    <script>\n      var noSleep = new NoSleep();\n\n      var wakeLockEnabled = false;\n      var toggleEl = document.querySelector(\"#toggle\");\n      toggleEl.addEventListener('click', function() {\n        if (!wakeLockEnabled) {\n          noSleep.enable(); // keep the screen on!\n          wakeLockEnabled = true;\n          toggleEl.value = \"Wake Lock is enabled\";\n          document.body.style.backgroundColor = \"green\";\n        } else {\n          noSleep.disable(); // let the screen turn off.\n          wakeLockEnabled = false;\n          toggleEl.value = \"Wake Lock is disabled\";\n          document.body.style.backgroundColor = \"\";\n        }\n      }, false);\n    </script>\n\n    <!-- Github Ribbon -->\n    <a href=\"https://github.com/richtr/NoSleep.js\"><img style=\"position: absolute; top: 0; right: 0; border: 0;\" src=\"https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67\" alt=\"Fork me on GitHub\" data-canonical-src=\"https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png\"></a>\n\n\n\n\n\n\n\n\n\n\n\n\n<script>\nconst  webm: 'data:video/webm;base64,GkXfo0AgQoaBAUL3gQFC8oEEQvOBCEKCQAR3ZWJtQoeBAkKFgQIYU4BnQI0VSalmQCgq17FAAw9CQE2AQAZ3aGFtbXlXQUAGd2hhbW15RIlACECPQAAAAAAAFlSua0AxrkAu14EBY8WBAZyBACK1nEADdW5khkAFVl9WUDglhohAA1ZQOIOBAeBABrCBCLqBCB9DtnVAIueBAKNAHIEAAIAwAQCdASoIAAgAAUAmJaQAA3AA/vz0AAA=';\nconst   mp4: 'data:video/mp4;base64,AAAAIGZ0eXBtcDQyAAACAGlzb21pc28yYXZjMW1wNDEAAAAIZnJlZQAACKBtZGF0AAAC8wYF///v3EXpvebZSLeWLNgg2SPu73gyNjQgLSBjb3JlIDE0MiByMjQ3OSBkZDc5YTYxIC0gSC4yNjQvTVBFRy00IEFWQyBjb2RlYyAtIENvcHlsZWZ0IDIwMDMtMjAxNCAtIGh0dHA6Ly93d3cudmlkZW9sYW4ub3JnL3gyNjQuaHRtbCAtIG9wdGlvbnM6IGNhYmFjPTEgcmVmPTEgZGVibG9jaz0xOjA6MCBhbmFseXNlPTB4MToweDExMSBtZT1oZXggc3VibWU9MiBwc3k9MSBwc3lfcmQ9MS4wMDowLjAwIG1peGVkX3JlZj0wIG1lX3JhbmdlPTE2IGNocm9tYV9tZT0xIHRyZWxsaXM9MCA4eDhkY3Q9MCBjcW09MCBkZWFkem9uZT0yMSwxMSBmYXN0X3Bza2lwPTEgY2hyb21hX3FwX29mZnNldD0wIHRocmVhZHM9NiBsb29rYWhlYWRfdGhyZWFkcz0xIHNsaWNlZF90aHJlYWRzPTAgbnI9MCBkZWNpbWF0ZT0xIGludGVybGFjZWQ9MCBibHVyYXlfY29tcGF0PTAgY29uc3RyYWluZWRfaW50cmE9MCBiZnJhbWVzPTMgYl9weXJhbWlkPTIgYl9hZGFwdD0xIGJfYmlhcz0wIGRpcmVjdD0xIHdlaWdodGI9MSBvcGVuX2dvcD0wIHdlaWdodHA9MSBrZXlpbnQ9MzAwIGtleWludF9taW49MzAgc2NlbmVjdXQ9NDAgaW50cmFfcmVmcmVzaD0wIHJjX2xvb2thaGVhZD0xMCByYz1jcmYgbWJ0cmVlPTEgY3JmPTIwLjAgcWNvbXA9MC42MCBxcG1pbj0wIHFwbWF4PTY5IHFwc3RlcD00IHZidl9tYXhyYXRlPTIwMDAwIHZidl9idWZzaXplPTI1MDAwIGNyZl9tYXg9MC4wIG5hbF9ocmQ9bm9uZSBmaWxsZXI9MCBpcF9yYXRpbz0xLjQwIGFxPTE6MS4wMACAAAAAOWWIhAA3//p+C7v8tDDSTjf97w55i3SbRPO4ZY+hkjD5hbkAkL3zpJ6h/LR1CAABzgB1kqqzUorlhQAAAAxBmiQYhn/+qZYADLgAAAAJQZ5CQhX/AAj5IQADQGgcIQADQGgcAAAACQGeYUQn/wALKCEAA0BoHAAAAAkBnmNEJ/8ACykhAANAaBwhAANAaBwAAAANQZpoNExDP/6plgAMuSEAA0BoHAAAAAtBnoZFESwr/wAI+SEAA0BoHCEAA0BoHAAAAAkBnqVEJ/8ACykhAANAaBwAAAAJAZ6nRCf/AAsoIQADQGgcIQADQGgcAAAADUGarDRMQz/+qZYADLghAANAaBwAAAALQZ7KRRUsK/8ACPkhAANAaBwAAAAJAZ7pRCf/AAsoIQADQGgcIQADQGgcAAAACQGe60Qn/wALKCEAA0BoHAAAAA1BmvA0TEM//qmWAAy5IQADQGgcIQADQGgcAAAAC0GfDkUVLCv/AAj5IQADQGgcAAAACQGfLUQn/wALKSEAA0BoHCEAA0BoHAAAAAkBny9EJ/8ACyghAANAaBwAAAANQZs0NExDP/6plgAMuCEAA0BoHAAAAAtBn1JFFSwr/wAI+SEAA0BoHCEAA0BoHAAAAAkBn3FEJ/8ACyghAANAaBwAAAAJAZ9zRCf/AAsoIQADQGgcIQADQGgcAAAADUGbeDRMQz/+qZYADLkhAANAaBwAAAALQZ+WRRUsK/8ACPghAANAaBwhAANAaBwAAAAJAZ+1RCf/AAspIQADQGgcAAAACQGft0Qn/wALKSEAA0BoHCEAA0BoHAAAAA1Bm7w0TEM//qmWAAy4IQADQGgcAAAAC0Gf2kUVLCv/AAj5IQADQGgcAAAACQGf+UQn/wALKCEAA0BoHCEAA0BoHAAAAAkBn/tEJ/8ACykhAANAaBwAAAANQZvgNExDP/6plgAMuSEAA0BoHCEAA0BoHAAAAAtBnh5FFSwr/wAI+CEAA0BoHAAAAAkBnj1EJ/8ACyghAANAaBwhAANAaBwAAAAJAZ4/RCf/AAspIQADQGgcAAAADUGaJDRMQz/+qZYADLghAANAaBwAAAALQZ5CRRUsK/8ACPkhAANAaBwhAANAaBwAAAAJAZ5hRCf/AAsoIQADQGgcAAAACQGeY0Qn/wALKSEAA0BoHCEAA0BoHAAAAA1Bmmg0TEM//qmWAAy5IQADQGgcAAAAC0GehkUVLCv/AAj5IQADQGgcIQADQGgcAAAACQGepUQn/wALKSEAA0BoHAAAAAkBnqdEJ/8ACyghAANAaBwAAAANQZqsNExDP/6plgAMuCEAA0BoHCEAA0BoHAAAAAtBnspFFSwr/wAI+SEAA0BoHAAAAAkBnulEJ/8ACyghAANAaBwhAANAaBwAAAAJAZ7rRCf/AAsoIQADQGgcAAAADUGa8DRMQz/+qZYADLkhAANAaBwhAANAaBwAAAALQZ8ORRUsK/8ACPkhAANAaBwAAAAJAZ8tRCf/AAspIQADQGgcIQADQGgcAAAACQGfL0Qn/wALKCEAA0BoHAAAAA1BmzQ0TEM//qmWAAy4IQADQGgcAAAAC0GfUkUVLCv/AAj5IQADQGgcIQADQGgcAAAACQGfcUQn/wALKCEAA0BoHAAAAAkBn3NEJ/8ACyghAANAaBwhAANAaBwAAAANQZt4NExC//6plgAMuSEAA0BoHAAAAAtBn5ZFFSwr/wAI+CEAA0BoHCEAA0BoHAAAAAkBn7VEJ/8ACykhAANAaBwAAAAJAZ+3RCf/AAspIQADQGgcAAAADUGbuzRMQn/+nhAAYsAhAANAaBwhAANAaBwAAAAJQZ/aQhP/AAspIQADQGgcAAAACQGf+UQn/wALKCEAA0BoHCEAA0BoHCEAA0BoHCEAA0BoHCEAA0BoHCEAA0BoHAAACiFtb292AAAAbG12aGQAAAAA1YCCX9WAgl8AAAPoAAAH/AABAAABAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAGGlvZHMAAAAAEICAgAcAT////v7/AAAF+XRyYWsAAABcdGtoZAAAAAPVgIJf1YCCXwAAAAEAAAAAAAAH0AAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAEAAAAAAygAAAMoAAAAAACRlZHRzAAAAHGVsc3QAAAAAAAAAAQAAB9AAABdwAAEAAAAABXFtZGlhAAAAIG1kaGQAAAAA1YCCX9WAgl8AAV+QAAK/IFXEAAAAAAAtaGRscgAAAAAAAAAAdmlkZQAAAAAAAAAAAAAAAFZpZGVvSGFuZGxlcgAAAAUcbWluZgAAABR2bWhkAAAAAQAAAAAAAAAAAAAAJGRpbmYAAAAcZHJlZgAAAAAAAAABAAAADHVybCAAAAABAAAE3HN0YmwAAACYc3RzZAAAAAAAAAABAAAAiGF2YzEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAygDKAEgAAABIAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY//8AAAAyYXZjQwFNQCj/4QAbZ01AKOyho3ySTUBAQFAAAAMAEAAr8gDxgxlgAQAEaO+G8gAAABhzdHRzAAAAAAAAAAEAAAA8AAALuAAAABRzdHNzAAAAAAAAAAEAAAABAAAB8GN0dHMAAAAAAAAAPAAAAAEAABdwAAAAAQAAOpgAAAABAAAXcAAAAAEAAAAAAAAAAQAAC7gAAAABAAA6mAAAAAEAABdwAAAAAQAAAAAAAAABAAALuAAAAAEAADqYAAAAAQAAF3AAAAABAAAAAAAAAAEAAAu4AAAAAQAAOpgAAAABAAAXcAAAAAEAAAAAAAAAAQAAC7gAAAABAAA6mAAAAAEAABdwAAAAAQAAAAAAAAABAAALuAAAAAEAADqYAAAAAQAAF3AAAAABAAAAAAAAAAEAAAu4AAAAAQAAOpgAAAABAAAXcAAAAAEAAAAAAAAAAQAAC7gAAAABAAA6mAAAAAEAABdwAAAAAQAAAAAAAAABAAALuAAAAAEAADqYAAAAAQAAF3AAAAABAAAAAAAAAAEAAAu4AAAAAQAAOpgAAAABAAAXcAAAAAEAAAAAAAAAAQAAC7gAAAABAAA6mAAAAAEAABdwAAAAAQAAAAAAAAABAAALuAAAAAEAADqYAAAAAQAAF3AAAAABAAAAAAAAAAEAAAu4AAAAAQAAOpgAAAABAAAXcAAAAAEAAAAAAAAAAQAAC7gAAAABAAA6mAAAAAEAABdwAAAAAQAAAAAAAAABAAALuAAAAAEAAC7gAAAAAQAAF3AAAAABAAAAAAAAABxzdHNjAAAAAAAAAAEAAAABAAAAAQAAAAEAAAEEc3RzegAAAAAAAAAAAAAAPAAAAzQAAAAQAAAADQAAAA0AAAANAAAAEQAAAA8AAAANAAAADQAAABEAAAAPAAAADQAAAA0AAAARAAAADwAAAA0AAAANAAAAEQAAAA8AAAANAAAADQAAABEAAAAPAAAADQAAAA0AAAARAAAADwAAAA0AAAANAAAAEQAAAA8AAAANAAAADQAAABEAAAAPAAAADQAAAA0AAAARAAAADwAAAA0AAAANAAAAEQAAAA8AAAANAAAADQAAABEAAAAPAAAADQAAAA0AAAARAAAADwAAAA0AAAANAAAAEQAAAA8AAAANAAAADQAAABEAAAANAAAADQAAAQBzdGNvAAAAAAAAADwAAAAwAAADZAAAA3QAAAONAAADoAAAA7kAAAPQAAAD6wAAA/4AAAQXAAAELgAABEMAAARcAAAEbwAABIwAAAShAAAEugAABM0AAATkAAAE/wAABRIAAAUrAAAFQgAABV0AAAVwAAAFiQAABaAAAAW1AAAFzgAABeEAAAX+AAAGEwAABiwAAAY/AAAGVgAABnEAAAaEAAAGnQAABrQAAAbPAAAG4gAABvUAAAcSAAAHJwAAB0AAAAdTAAAHcAAAB4UAAAeeAAAHsQAAB8gAAAfjAAAH9gAACA8AAAgmAAAIQQAACFQAAAhnAAAIhAAACJcAAAMsdHJhawAAAFx0a2hkAAAAA9WAgl/VgIJfAAAAAgAAAAAAAAf8AAAAAAAAAAAAAAABAQAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAACsm1kaWEAAAAgbWRoZAAAAADVgIJf1YCCXwAArEQAAWAAVcQAAAAAACdoZGxyAAAAAAAAAABzb3VuAAAAAAAAAAAAAAAAU3RlcmVvAAAAAmNtaW5mAAAAEHNtaGQAAAAAAAAAAAAAACRkaW5mAAAAHGRyZWYAAAAAAAAAAQAAAAx1cmwgAAAAAQAAAidzdGJsAAAAZ3N0c2QAAAAAAAAAAQAAAFdtcDRhAAAAAAAAAAEAAAAAAAAAAAACABAAAAAArEQAAAAAADNlc2RzAAAAAAOAgIAiAAIABICAgBRAFQAAAAADDUAAAAAABYCAgAISEAaAgIABAgAAABhzdHRzAAAAAAAAAAEAAABYAAAEAAAAABxzdHNjAAAAAAAAAAEAAAABAAAAAQAAAAEAAAAUc3RzegAAAAAAAAAGAAAAWAAAAXBzdGNvAAAAAAAAAFgAAAOBAAADhwAAA5oAAAOtAAADswAAA8oAAAPfAAAD5QAAA/gAAAQLAAAEEQAABCgAAAQ9AAAEUAAABFYAAARpAAAEgAAABIYAAASbAAAErgAABLQAAATHAAAE3gAABPMAAAT5AAAFDAAABR8AAAUlAAAFPAAABVEAAAVXAAAFagAABX0AAAWDAAAFmgAABa8AAAXCAAAFyAAABdsAAAXyAAAF+AAABg0AAAYgAAAGJgAABjkAAAZQAAAGZQAABmsAAAZ+AAAGkQAABpcAAAauAAAGwwAABskAAAbcAAAG7wAABwYAAAcMAAAHIQAABzQAAAc6AAAHTQAAB2QAAAdqAAAHfwAAB5IAAAeYAAAHqwAAB8IAAAfXAAAH3QAAB/AAAAgDAAAICQAACCAAAAg1AAAIOwAACE4AAAhhAAAIeAAACH4AAAiRAAAIpAAACKoAAAiwAAAItgAACLwAAAjCAAAAFnVkdGEAAAAObmFtZVN0ZXJlbwAAAHB1ZHRhAAAAaG1ldGEAAAAAAAAAIWhkbHIAAAAAAAAAAG1kaXJhcHBsAAAAAAAAAAAAAAAAO2lsc3QAAAAzqXRvbwAAACtkYXRhAAAAAQAAAABIYW5kQnJha2UgMC4xMC4yIDIwMTUwNjExMDA=';\n\n\n// Detect iOS browsers < version 10\nconst oldIOS = typeof navigator !== 'undefined' && parseFloat(\n  ('' + (/CPU.*OS ([0-9_]{3,4})[0-9_]{0,1}|(CPU like).*AppleWebKit.*Mobile/i.exec(navigator.userAgent) || [0, ''])[1])\n    .replace('undefined', '3_2').replace('_', '.').replace('_', '')\n) < 10 && !window.MSStream\n\nclass NoSleep {\n  constructor () {\n    if (oldIOS) {\n      this.noSleepTimer = null\n    } else {\n      // Set up no sleep video element\n      this.noSleepVideo = document.createElement('video')\n\n      this.noSleepVideo.setAttribute('muted', '')\n      this.noSleepVideo.setAttribute('title', 'No Sleep')\n      this.noSleepVideo.setAttribute('playsinline', '')\n\n      this._addSourceToVideo(this.noSleepVideo, 'webm', webm)\n      this._addSourceToVideo(this.noSleepVideo, 'mp4', mp4)\n\n      this.noSleepVideo.addEventListener('loadedmetadata', () => {\n        if (this.noSleepVideo.duration <= 1) { // webm source\n          this.noSleepVideo.setAttribute('loop', '')\n        } else { // mp4 source\n          this.noSleepVideo.addEventListener('timeupdate', () => {\n            if (this.noSleepVideo.currentTime > 0.5) {\n              this.noSleepVideo.currentTime = Math.random()\n            }\n          })\n        }\n      })\n    }\n  }\n\n  _addSourceToVideo (element, type, dataURI) {\n    var source = document.createElement('source')\n    source.src = dataURI\n    source.type = `video/${type}`\n    element.appendChild(source)\n  }\n\n  enable () {\n    if (oldIOS) {\n      this.disable()\n      console.warn(`\n        NoSleep enabled for older iOS devices. This can interrupt\n        active or long-running network requests from completing successfully.\n        See https://github.com/richtr/NoSleep.js/issues/15 for more details.\n      `)\n      this.noSleepTimer = window.setInterval(() => {\n        if (!document.hidden) {\n          window.location.href = window.location.href.split('#')[0]\n          window.setTimeout(window.stop, 0)\n        }\n      }, 15000)\n    } else {\n      this.noSleepVideo.play()\n    }\n  }\n\n  disable () {\n    if (oldIOS) {\n      if (this.noSleepTimer) {\n        console.warn(`\n          NoSleep now disabled for older iOS devices.\n        `)\n        window.clearInterval(this.noSleepTimer)\n        this.noSleepTimer = null\n      }\n    } else {\n      this.noSleepVideo.pause()\n    }\n  }\n};\n\nmodule.exports = NoSleep\n\n</script>\n\n\n\n  </body>\n\n</html>\n\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 200,
        "y": 460,
        "wires": [
            []
        ]
    }
]
